@using JournalTasks.Web.Components.Shared
@using JournalTasks.Web.Data
@using JournalTasks.Web.Data.Tables
@using JournalTasks.Web.Services.DataModels
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ApplicationDbContext> DbFactory

<Modal @ref="modal">
    <Body>
    @if (currentTask != null) {
        <div class="edit-form-overlay">
            <div class="edit-form">
                <RadzenTemplateForm TItem="TaskModel" Data="@currentTask" Submit="@SaveTask">
                    <RadzenFieldset Text="Детали задачи">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <RadzenLabel Text="Заголовок"/>
                                <RadzenTextBox @bind-Value="@currentTask.Title" Class="w-100"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <RadzenLabel Text="Начало"/>
                                <RadzenDatePicker @bind-Value="@currentTask.Start" ShowTime="true"
                                                  DateFormat="dd.MM.yyyy HH:mm" Class="w-100"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <RadzenLabel Text="Конец"/>
                                <RadzenDatePicker @bind-Value="@currentTask.End" ShowTime="true"
                                                  DateFormat="dd.MM.yyyy HH:mm" Class="w-100"/>
                            </div>
                            
                            <div class="row">

                                <div class="col-md-12 mb-3">
                                    <RadzenLabel Text="Категория задачи (цвет)" />
                                    <RadzenDropDown @bind-Value="currentTask.TaskCategoryId"
                                                    Data="@categories"
                                                    TextProperty="Name"
                                                    ValueProperty="Id"
                                                    Style="width: 100%" 
                                                    Placeholder="Выберите категорию" />
                                </div>


                            </div>
                            
                        </div>
                    </RadzenFieldset>
                    <div class="mt-3">
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Сохранить"
                                      ButtonStyle="ButtonStyle.Success"/>
                        <RadzenButton Click="@Cancel" Text="Отмена" ButtonStyle="ButtonStyle.Light"
                                      Class="ms-2"/>
                    </div>
                </RadzenTemplateForm>
            </div>
        </div>
    }
    </Body>
</Modal>

@code{

    [Parameter] public string UserId { get; set; }

    List<TaskCategories> categories;

    private Modal modal;
    
    [Parameter] public bool isEditing { get; set; }
    
    [Parameter] public TaskModel currentTask { get; set; }
    
    private async Task UpdateForm() {
        
        var context = await DbFactory.CreateDbContextAsync();
        categories = context.TasksCategories.Where(t => t.UserId == UserId).ToList();

    } 
    void SaveTask() {
        modal.Close();
        if (currentTask != null) {
            if (isEditing) {
                TaskModelHelper.UpdateTask(DbFactory, currentTask);
            }
            else {
                TaskModelHelper.CreateTask(DbFactory, currentTask);
            }
        }

        isEditing = false;
        currentTask = null;

        StateHasChanged();
    }
    
    public async Task Open() { 
        modal?.Open();
        await UpdateForm();
        StateHasChanged();
    }
    
    private void Cancel() {
        modal?.Close();
        StateHasChanged();
    }
}